@import "../../index.scss";

.title {
    margin-bottom: 20px;
}
.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    padding-bottom: 40px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;

    .imgWrapper {
        max-width: 100%;
        img {
            width: 100%;
            height: 330px;
        }
    }
    .edit {
        display: flex;
        gap: 3px;
    }
}
